<h1>System Domain Settings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Server name</th>
    <th></th>
    <th></th>
  </tr>

<% @domains.each do |admin_system_domain| %>
  <tr>
    <td><%= "#{admin_system_domain.name} Settings" %></td>
    <td><%= admin_system_domain.server_name %></td>
    <td><%= link_to 'Edit', edit_admin_system_domain_path(admin_system_domain) %></td>
    <td><%= link_to 'Destroy', admin_system_domain, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% # link_to 'New Domain', new_admin_system_domain_path %>
